@import './base.css';

main {
  padding: 0 20px;
}

label {
  display: block;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: flex-end;
  background: rgb(138, 150, 164);
}

nav a {
  padding: 9px 10px 5px 10px;
}

nav .right {
  margin-left: auto;
  padding: 5px 10px;
}

nav .router-link-active {
  border-bottom: 4px solid rgb(54, 54, 129);
}

.help {
  font-size: 0.8em;
  padding: 7px;
}
